<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/finance?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">finance</property>
        <property name="connection.password">finance</property>

        <!-- Set up C3P0 JDBC connection pool -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1800</property> <!-- seconds -->
        <property name="hibernate.c3p0.max_statements">50</property>



        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
        <property name="hibernate.archive.autodetection">class, hbm</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.release_mode">on_close</property>
        <mapping class="de.kessel.entities.Transaction" />
 
    </session-factory>

</hibernate-configuration>